interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/group8376144391?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391","name":"group8376144391","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForPostgreSql/flexibleServers?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_D4s_v3","tier":"GeneralPurpose","capacity":4},"properties":{"fullyQualifiedDomainName":"ambrahma-fs-v1.ambrahma-fs-v1.postgres.database.azure.com","version":"12","standbyCount":0,"walReplicaCount":0,"administratorLogin":"cloudsa","publicNetworkAccess":"Disabled","vnetInjArgs":{"delegatedVnetID":"8bc5dce7-b4e4-4d91-b5f1-4ef33c1e6392","delegatedVnetName":"test-customer-vnet0907sunljvugi","delegatedVnetResourceGroup":"sunl-meru2","delegatedSubnetName":"test-customer-vnet0907sunljvugi-pgsubnet"},"logBackupStorageSku":"Standard_ZRS","haState":"NotEnabled","state":"Ready","availabilityZone":"1","storageProfile":{"storageMB":524288,"backupRetentionDays":7},"earliestRestoreDate":"2020-09-11T08:39:14.9762482+00:00","byokEnforcement":"Disabled"},"location":"West
        US 2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shuodl-meru-16/providers/Microsoft.DBforPostgreSQL/flexibleServers/ambrahma-fs-v1","name":"ambrahma-fs-v1","type":"Microsoft.DBforPostgreSQL/flexibleServers"},{"sku":{"name":"","tier":"GeneralPurpose","capacity":8},"properties":{"fullyQualifiedDomainName":"chelian-prod-t0002-u05.postgres.database.azure.com","version":"12","standbyCount":1,"walReplicaCount":0,"administratorLogin":"cloudsa","publicNetworkAccess":"Enabled",[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"server453391180VNET\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET\",\r\n
        \ \"etag\": \"W/\\\"881c56c4-0d90-4a7e-8530-ff8acbbaa538\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"b811baf7-a35c-44a8-a455-092f402aecf5\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n
        \   \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/095eebab-4587-4ff6-a9d2-73387713dd5e?api-version=2018-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties":
      {"serviceName": "Microsoft.DBforPostgreSQL/flexibleServers"}, "name": "Microsoft.DBforPostgreSQL/flexibleServers"}]},
      "name": "server453391180Subnet"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET/subnets/server453391180Subnet?api-version=2018-08-01
  response:
    body:
      str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/095eebab-4587-4ff6-a9d2-73387713dd5e?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Canceled\",\r\n  \"error\": {\r\n    \"code\":
        \"Canceled\",\r\n    \"message\": \"Operation was canceled.\",\r\n    \"details\":
        [\r\n      {\r\n        \"code\": \"CanceledAndSupersededDueToAnotherOperation\",\r\n
        \       \"message\": \"Operation PutVirtualNetworkOperation (095eebab-4587-4ff6-a9d2-73387713dd5e)
        was canceled and superseded by operation PutSubnetOperation (50990c4a-5896-407d-9d54-d9ccb4a9f86a).\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      canceled-by-azure-asyncoperation:
      - https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.Network/locations/eastus2euap/operations/50990c4a-5896-407d-9d54-d9ccb4a9f86a?api-version=2018-08-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET/subnets/server453391180Subnet?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"server453391180Subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET/subnets/server453391180Subnet\",\r\n
        \ \"etag\": \"W/\\\"438fb20c-5fe0-4a48-8476-024af23bade1\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [\r\n      {\r\n        \"name\": \"Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET/subnets/server453391180Subnet/delegations/Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \       \"etag\": \"W/\\\"438fb20c-5fe0-4a48-8476-024af23bade1\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"serviceName\": \"Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \         \"actions\": [\r\n            \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n
        \         ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n
        \     }\r\n    ],\r\n    \"subnetID\": 0\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"438fb20c-5fe0-4a48-8476-024af23bade1"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "sku": {"name": "Standard_D2s_v3", "tier":
      "GeneralPurpose"}, "properties": {"administratorLogin": "nearCoconut7", "administratorLoginPassword":
      "zCAndPzEQE8ANUj&0IIxuw", "version": "12", "storageProfile": {"backupRetentionDays":
      7, "storageMB": 131072}, "haEnabled": "Disabled", "delegatedSubnetArguments":
      {"subnetArmResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET/subnets/server453391180Subnet"},
      "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.DBForPostgreSql/flexibleServers/server453391180?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-09-12T00:47:45.6Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/5e315ec4-389b-4760-98ac-5d7d9849faae?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/operationResults/5e315ec4-389b-4760-98ac-5d7d9849faae?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/5e315ec4-389b-4760-98ac-5d7d9849faae?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"name":"5e315ec4-389b-4760-98ac-5d7d9849faae","status":"InProgress","startTime":"2020-09-12T00:47:45.6Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.DBForPostgreSql/flexibleServers/server453391180?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"sku":{"name":"Standard_D2s_v3","tier":"GeneralPurpose","capacity":2},"properties":{"fullyQualifiedDomainName":"server453391180.server453391180.postgres.database.azure.com","version":"12","standbyCount":0,"haEnabled":"Disabled","administratorLogin":"nearCoconut7","publicNetworkAccess":"Disabled","delegatedSubnetArguments":{"subnetArmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.Network/virtualNetworks/server453391180VNET/subnets/server453391180Subnet"},"logBackupStorageSku":"Standard_ZRS","haState":"NotEnabled","state":"Ready","availabilityZone":"2","storageProfile":{"storageMB":131072,"backupRetentionDays":7},"earliestRestoreDate":"2020-09-12T00:52:48.0216631+00:00","byokEnforcement":"Disabled","maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0}},"location":"East
        US 2 EUAP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group8376144391/providers/Microsoft.DBforPostgreSQL/flexibleServers/server453391180","name":"server453391180","type":"Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET?api-version=2018-08-01
  response[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties":
      {"serviceName": "Microsoft.DBforPostgreSQL/flexibleServers"}, "name": "Microsoft.DBforPostgreSQL/flexibleServers"}]},
      "name": "azuredbclitest-000002Subnet"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: '{"tags": {"key1": "val1"}, "location": "eastus2euap", "sku": {"name": "Standard_D4s_v3",
      "tier": "GeneralPurpose"}, "properties": {"administratorLogin": "cloudsa", "administratorLoginPassword":
      "SecretPassword@123", "version": "12", "storageProfile": {"backupRetentionDays":
      10, "storageMB": 32768}, "haEnabled": "Disabled", "delegatedSubnetArguments":
      {"subnetArmResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/vir[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/restart?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"RestartServerManagementOperation","startTime":"2020-09-12T01:18:25.853Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/6d7cfacc-c307-4dd9-b9f4-993efc6d495a?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/operationResults/6d7cfacc-c307-4dd9-b9f4-993efc6d495a?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/stop?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"StopServerManagementOperation","startTime":"2020-09-12T01:20:27.93Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/53c37a58-ddd0-4d37-9ecf-fd6c607f2a5a?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/operationResults/53c37a58-ddd0-4d37-9ecf-fd6c607f2a5a?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/start?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2020-09-12T01:24:31.18Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/5a096a95-d4d7-45cf-b3bd-eafa97612946?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/operationResults/5a096a95-d4d7-45cf-b3bd-eafa97612946?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_D8s_v3","tier":"GeneralPurpose","capacity":8},"properties":{"fullyQualifiedDomainName":"azuredbclitest-000002.azuredbclitest-000002.postgres.database.azure.com","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/East%20US%202%20EUAP/azureAsyncOperation/12f9f725-f88d-4000-95a4-bcfc061f1774?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"name":"12f9f725-f88d-4000-95a4-bcfc061f1774","status":"InProgress","startTime":"2020-09-12T01:28:35.427Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HUk9VUDgzNzYxNDQzOTEtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HUk9VUDgzNzYxNDQzOTEtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2020-06-01
    status:
      code: 202
      message: Accepted
[...]
